<h2>Life is a journey.</h2>
<h3>You are the protagonist.</h3>
<h3 class="epic one-third column">Be Epic</h3>
<div id="reg-form" class="two-thirds column">
	<%- if controller_name != 'sessions' %>
	  <%= link_to "Sign in", new_session_path(resource_name) %><br />
	<% end -%>
</div>
<h3>Home</h3>
<% @users.each do |user| %>
<p>User: <%=link_to user.name, user %></p>
<% end %>
