<% content_for :head do %>
	<div>	
		<header class="container">
		<h2 class="ten columns">Life is a journey.</h2>
		<h3 class="offset-by-six ten columns">You are the protagonist.</h3>
		<h3 class="epic one-third column">Be Epic</h3>
		</header>
	</div>
<% end %>	

<%= render 'shared/navigation' %>
<section class="two-thirds column">
	<h3>Home</h3>	
</section>
<section class="one-third column">
	<% @users.each do |user| %>
		<p>User: <%=link_to image_tag(avatar_url(user)), user %></p>
	<% end %>	
</section>

